/* Write your code here: */
/*Group selector*/
h1, h2{
    color:blueviolet;
}

/*Child/ specify selector*/
.box > p{
    color: firebrick;
}

/*descendant selector*/
.box li{
    color: blue;
}

/*chaining selector */
li.done{ 
    color: seagreen;
}

/*multiple combiners*/
ul p.done{
    font-size: 0.5rem;
}
